<div class="container">
    <div class="titulo">
        <h1 align="center"><u>Contato</u></h1>
    </div>
    <p>Entre em contato comigo. Vamos trocar uma ideia sobre novos projetos.</p>
    <p>Responderei em breve!</p>
    <!-- Formulário de contato -->
    <form>
        <div class="mb-3">
            <label for="nome" class="form-label">Nome</label>
            <input type="text" class="form-control" id="nome" placeholder="Seu nome">
        </div>
        <div class="mb-3">
            <label for="email-resposta" class="form-label">Email</label>
            <input type="email" class="form-control" id="email-resposta" placeholder="seu.email@email.com.br">
        </div>
        <div class="mb-3">
            <label for="mensagem" class="form-label">Mensagem</label>
            <textarea class="form-control" id="mensagem" placeholder="Deixe sua mensagem" rows="5"></textarea>
        </div>
        <button type="button" class="btn btn-primary">Enviar</button>
    </form>
</div>