<div class="container">
  <div class="titulo">
    <h1 align="center"><u>Sobre mim</u></h1>
  </div>

  <div class="column">
    <div class="shadow-sm p-3 mb-3 bg-body">
      <h2>Biografia</h2>
      <p align="justify">
        Trabalho como desenvolvedor de software desde 2012. De lá pra cá, tive a oportunidade de trabalhar
        principalmente com Java e Javascript.
      </p>
      <p>
        Atualmente, atuo como arquiteto desenvolvendo arquiteturas de referência e auxiliando 
        em soluções que os times precisam desenvolver para antender em demandas de negócio.
      </p>
    </div>

    <div class="shadow-sm p-3 mb-3 bg-body">
      <h2>Hobbies</h2>
      <ul class="list-group">
        <li class="list-group-item">Assistir futebol</li>
        <li class="list-group-item">Jogar video-games</li>
        <li class="list-group-item">Tocar violão</li>
        <li class="list-group-item">Escrever</li>
      </ul>
    </div>
  </div>
</div>