<div class="container">
    <div class="row">

        <div class="col-md-8 offset-md-2">
            <div class="titulo">
                <h1>Olá!</h1>
                <p>Você chegou no meu site pessoal onde é possível conhecer um pouco da minha trajetória profissional,
                    dentro da
                    TI.</p>
            </div>

            <h3><a class="nav-link" routerLink="/sobre">Sobre mim</a></h3>
            <p align="justify">
                Conto brevemente o que andei fazendo desde que iniciei na área e conto algumas coisas que gosto de
                fazer.
            </p>
            <h3><a class="nav-link" routerLink="/formacao">Formação</a></h3>
            <p align="justify">
                Minha trajetória acadêmica, que serve de base pra construção de conhecimento.
            </p>
            <h3><a class="nav-link" routerLink="/portfolio">Portfólio</a></h3>
            <p align="justify">
                Referência para trabalhos que sejam de acesso público.
            </p>
            <h3><a class="nav-link" routerLink="/contato">Contato</a></h3>
            <p align="justify">
                Caso queira entrar em contato comigo, você poderá fazer por aqui.
            </p>
        </div>

    </div>
</div>