<div class="container">
    <div class="titulo">
        <h1 align="center"><u>Formação</u></h1>
    </div>

    <div class="column">
        <div class="shadow-sm p-3 mb-3 bg-body">
            <h2>Análise e Desenvolvimento de Software</h2>
            <p align="justify">
                <b>Instituição:</b> UNINTER
            </p>
            <p>
                <b>Conclusão prevista:</b> 06/2023
            </p>
        </div>

        <div class="shadow-sm p-3 mb-3 bg-body">
            <h2>Técnico de Informática</h2>
            <p align="justify">
                <b>Instituição:</b> Escola Técnica Mesquita
            </p>
            <p>
                <b>Concluído em:</b> 12/2009
            </p>
        </div>
    </div>
</div>